[2017-05-08 07:29] ejolly opened #1 "Add __repr__ method for convenience output retrieval"

[2017-05-08 07:30] ejolly opened #2 "More flexible confidence interval object parsing"
Currently linear models always assume an intercept exists for proper confidence interval object parsing. Need to find a better way to parse.

[2017-05-08 07:30] ejolly opened #3 "Add flexible specification of different model contrasts"

[2017-05-08 07:31] ejolly opened #4 "Add generalized models (e.g. logits, poisson, etc)"

[2017-05-08 07:31] ejolly opened #5 "Add simple visualizations for both fixed and random effects"

[2017-05-08 07:32] ejolly opened #6 "Add functionality for post-hoc tests (e.g. lsmeans comparisons)"

[2017-05-11 01:36] ejolly opened #7 "Make significance stars appear if p is reported == 0."

[2017-05-11 01:36] ejolly commented on #7
This [line](https://github.com/ejolly/pymer4/blob/master/pymer4/models.py#L44)

[2017-05-13 20:01] #7 closed

[2017-05-13 20:01] #1 closed

[2017-05-14 05:54] #4 closed

[2017-05-14 05:55] #2 closed

[2017-05-14 05:57] ejolly opened #8 "Add predict method for fitted models."

[2017-05-14 19:40] ejolly opened #9 "Add read the docs"

[2017-05-15 06:56] ejolly opened #10 "Add group names when printing number of groups"
Issue created with imdone.io

----

TODO: Add group names when printing number of groups +enhancement id:1
[**pymer4/models.py:242**](https://github.com/ejolly/pymer4/blob/master/pymer4/models.py#L242)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-05-15 06:57] ejolly commented on #10
----

TODO: Add group names when printing number of groups +enhancement id:1 gh:10
[**pymer4/models.py:242**](https://github.com/ejolly/pymer4/blob/master/pymer4/models.py#L242)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-05-15 06:59] ejolly opened #11 "Parse and store fixed effects correlation matrix"
Issue created with imdone.io

----

TODO Parse and store fixed effects correlation matrix +enhancement id:2
[**pymer4/models.py:144**](https://github.com/ejolly/pymer4/blob/master/pymer4/models.py#L144)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-05-15 07:01] ejolly commented on #11
----

TODO Parse and store fixed effects correlation matrix +enhancement id:2 gh:11
[**pymer4/models.py:144**](https://github.com/ejolly/pymer4/blob/master/pymer4/models.py#L144)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-05-15 07:44] ejolly commented on #11
TODO Parse and store fixed effects correlation matrix +enhancement id:2 gh:11
      [**pymer4/models.py:151**](https://github.com/ejolly/pymer4/blob/undefined/pymer4/models.py#L151)
@imdone *Issue Closer*. The developer's task board. [imdone.io](https://imdone.io)

[2017-05-15 07:44] #10 closed

[2017-05-15 07:44] #11 closed

[2017-07-25 19:04] ejolly commented on #5
Going to leave this to the user.

[2017-07-25 19:04] #5 closed

[2017-07-25 19:07] ejolly opened #12 "Add ANOVA table"
Most of the code is there to perform this, but it would be convenient to force check of orthogonal contrasts, and auto-reparameterize if not. Maybe not worth it?

[2017-07-25 19:10] ejolly opened #13 "Pass in lmer control options during function call"
This one seems uncessarily tricky based on how rpy2 works, because the call is `lmer(formula, data, lmerControl(optControl=list(maxfun=20000)))` in R, and it's unclear how to parse the `optControl` part in python.

Should happen [here](https://github.com/ejolly/pymer4/blob/master/pymer4/models.py#L143) for linear models and [here](https://github.com/ejolly/pymer4/blob/master/pymer4/models.py#L147)

[2017-09-11 19:12] MarkAPitt opened #14 "can't find dll"
Windows 7 running Anaconda, python 2.7, 32-bit with Spyder IDE. All packages satisfy the requirements.
The DLL is in the distribution's path.

Any suggestions would be appreciated. Thanks.

from pymer4.models import Lmer
Traceback (most recent call last):

  File "<ipython-input-1-ae302b076a61>", line 1, in <module>
    from pymer4.models import Lmer

  File "C:\Program Files (x86)\Anaconda2\Lib\s

[2017-10-17 02:00] ljchang opened #15 "Not python3 compatible"
[code]

[2017-10-18 04:18] ejolly commented on #3
Orthogonal polynomial contrasts and instructions for building new variables to test specific contrasts were provided in d53f04897a4fe1ba09b552f775eda6103e918b49. Probably not going to do much more than that for now.

[2017-10-18 04:18] #3 closed

[2017-10-18 04:22] ejolly commented on #14
Sorry I just saw this. Hmm it looks like a problem with Anaconda's handling of c-type initialization? Are you able to use other c-dependent python packages in your anaconda install (e.g numpy?)

Unfortunately I don't have easy access to a Windows machine to test this on, but I know other Windows users haven't run into this particular issue.

[2017-10-19 07:06] ejolly commented on #8
Added in a4f035ed5b6de45f8460c4696d1b691ff9b86c11

[2017-10-19 07:06] #8 closed

[2017-10-19 07:07] ejolly commented on #9
Didn't feel like building R on RTD, so docs are built locally and hosted in the gh-branch of the repo.

Available [here](http://eshinjolly.com/pymer4/)

[2017-10-19 07:07] #9 closed

[2017-10-19 23:30] ejolly opened #16 "Make plotting able to handle categorically coded predictors"

[2017-10-22 03:31] ejolly commented on #14
Going to close this for now as it's unclear whether this is a general installation problem or user-specific. Will re-open if others have the same problem

[2017-10-22 03:31] #14 closed

[2017-10-22 03:33] ejolly opened #17 "Refactor plot and predict methods"
Right now `model.plot()` essentially makes predictions using it's own internal data. Predict does the same, but just using population level parameters and R's `predict()` function which conveniently can handle rfx scaling.

Refactor so that `predict` can take in new data, or use it's own data (i.e. when it's called via plot). Also add flag that it can make group level predictions using group level

[2017-11-06 04:41] ejolly opened #18 "Add argument to control number of bootstrap CI samples"

[2017-11-20 09:50] ejolly opened #19 "Added basic OLS model"
Would be nice to just have another model class e.g. `Lm()` to obviate the need to jump to other packages like statsmodels or sklearn.

I wrote the matrix math, including for robust standard error estimation already [here](https://github.com/ejolly/nltools/blob/master/nltools/stats.py#L560) so should be trivial to implement. Integration with [patsy](https://patsy.readthedocs.io/en/latest/) would be

[2017-11-23 17:38] arose13 opened #20 "Suppress printing"
I was wondering if I could make a PR with a verbose flag in `.fit()` that turns this `print("Fitting linear model using...` on and off.

I'm making 100,000's of calls to this function and I think it would be better not to print this.

[2017-11-27 17:11] ejolly commented on #20
Sure thing! If you make the PR I can review it

[2017-11-30 19:32] arose13 commented on #20
PR is there for review whenever

https://github.com/ejolly/pymer4/pull/21

[2017-12-09 07:20] ejolly commented on #20
Added in #21

[2017-12-09 07:20] #20 closed

[2017-12-12 07:28] ejolly commented on #19
Added in commit 25aa841

[2017-12-12 07:28] #19 closed

[2017-12-13 01:17] ejolly commented on #15
This is fixed and tested in https://github.com/ejolly/pymer4/commit/94dcc9b774b34dba8d3960295d0d3c0d7687ad82

[2017-12-13 01:17] #15 closed

[2018-03-03 00:01] ejolly commented on #17
This doesnt actually make sense because plot is making marginal predictions not full predictions given all fitted coefficients. Makes sense to keep them separate.

[2018-03-03 00:01] #17 closed

[2018-03-03 01:33] ejolly commented on #6
Added in 0.4.0

[2018-03-03 01:33] #6 closed

[2018-03-03 12:59] ejolly opened #22 "Potential install issues on macOS"
Some users are reporting install issues on the latest version of macOS with certain versions of R.
This seems to be related to failures to install `rpy2` not `pymer4`. The reason seems to be because of the C-compilers that `rpy2` requires, which it pulls from R. Apparently later versions of R require certain compiler flags not available on the default compilers that ship with macOS.

If this is a

[2018-03-03 15:25] ejolly commented on #22
Instructions have now been added to the README and docs site

[2018-03-03 15:25] #22 closed

[2018-03-09 23:33] ejolly opened #23 "Travis build issues if R package mirrors are down"
Travis sometimes failed to build if nloptr package site is not available: http://ab-initio.mit.edu/nlopt

For example see this Travis log: https://travis-ci.org/ejolly/pymer4/builds/348081637

This could potentially be solved by installing nlopt via apt-get as suggested in this thread: https://github.com/jyypma/nloptr/issues/40

[2018-03-10 00:52] ejolly commented on #23
Fixed by PR https://github.com/ejolly/pymer4/pull/24

[2018-03-10 00:52] #23 closed

[2018-03-30 04:41] ljchang opened #25 "[BUG] pymer4.Lmer() doesn't seem to work with rpy2=2.9"
pymer 0.4.0 does not seem to be working with most recent version of rpy2.  Recommend using rpy2=2.8.5 until this is resolved.

[code]
[code]

[2018-05-31 15:10] chnynf opened #26 "Question about fixef, ranef, and coefs"
Hi ejolly, thanks for the project. I've been running mixed effect logistic regression in python and this library is really helpful. I have one question about the outputs:

Seems like mode.fixef actually refers to the coef(model) in R. Model.coefs refers to the output in the summary(model) in R, which is correspondent to fixef(model) in lme4. Wanted to confirm that.

[2018-06-01 23:36] ejolly commented on #26
Thanks! Yup that's correct. My terminology varies from the syntactic naming in R to be instead more consistent with language in the statistical literature broadly speaking (at least I think so). The reason for that is `model.fixef` is the cluster-level (e.g. subject) fixed effects coefficients hence it made sense to name it that way, where as `model.ranef` is the deviation for each cluster from th

[2018-06-02 22:00] chnynf commented on #26
Got it. The outputs are pretty intuitive, but just wanted to confirm. Thanks!

[2018-06-02 22:00] #26 closed

[2018-07-05 16:42] ejolly commented on #12
ANOVA table in upcoming release version. Instead of checking orthogonality automatically a diff idea is to:
1. Include in the docs a quick primer on how contrasts in R work (probably based on something like [this](https://rstudio-pubs-static.s3.amazonaws.com/65059_586f394d8eb84f84b1baaf56ffb6b47f.html) or what I've [written previously](https://github.com/ejolly/R/blob/master/Guides/Contrasts_in_R.

[2018-07-28 16:48] #12 closed

[2018-07-31 06:22] RMHogervorst opened #27 "installation failed on ubuntu 16.04"
Hi Eshin Jolly,

I tried to install with both methods

[code]

Is this because of the missing R packages? (if so, a more helpful error message would be nice)
I installed  all R packages and created a seperate virtualenv, now it seems to install.

[2018-07-31 06:22] #27 closed, assigned to nobody

[2018-08-05 14:59] janfreyberg opened #28 "[joss-review] Installation instructions"
I just tried to install this and failed `brew install gcc` installed `gcc-8` rather than `gcc-7`.

Is it possible to fix the recommend bash command that sets the CC environment variable to use either?

Also, it may make sense to provide conda specific installation instructions: for users with no R installation, installing `rpy2` from conda-forge is likely the most frictionless way of installing R;

[2018-08-05 15:00] janfreyberg opened #29 "[joss-review] Paper issues"
A few minor issues with the paper:

- [x] in the example, `get_resource_path` is never defined, I believe you're missing the import statement `from pymer4.utils import get_resource_path`
- [x] the line `model.plot('IV2')` from your paper throws a NotImplementedError
- [x] replace `langauge` with `language` in the first paragraph
- [x] references have no DOIs

[2018-08-05 15:03] janfreyberg opened #30 "[joss-review] Documentation issues"
On the [Basic Usage](http://eshinjolly.com/pymer4/usage.html) page, `Lm` is not imported but later used; if someone simply steps through the code on that page, they receive errors.

[2018-08-05 17:09] ejolly commented on #28
@janfreyberg Yup I can work on editing the environment variable command. I'd love some help on getting R and rpy2 as well as the r package dependencies from conda-forge if you already have experience setting that up during installation!

[2018-08-06 07:38] janfreyberg commented on #28
Having just tested this, there seem to be dependency conflicts at the moment - rpy2 2.8.5 on conda forge depends on r=3.3.2, which at least on conda-forge is listed as incompatible with r-lmertest. Might depend on #25 being fixed or the r-lmertest conda-forge package being updated.

[2018-08-10 04:08] ejolly commented on #29
Ok these should all be fixed in the latest commit. I removed the `model.plot()` call since that specifically applies to continuous predictors only (for the time being). I've added DOIs for every source I could find but some don't appear to have any.

[2018-08-10 04:12] ejolly commented on #30
Fixed in latest commit on gh-pages branch.

[2018-08-10 04:17] ejolly commented on #28
So I made a few fixes that should make `pymer4` compatible with `rpy 2.9.x`. Any chance you can try again with the latest version from github? One installation issue I'm not certain about, and would be happy to receive any advice on, is the following:

The latest versions of `rpy2` (i.e. `>=2.9.x`) don't support Python 2. Therefore in order for `pymer4` to remain both Python 2 and 3 compatible, it

[2018-08-10 04:31] #25 closed

[2018-08-20 20:29] #29 closed

[2018-08-20 20:29] #30 closed

[2018-11-15 21:26] andportnoy opened #31 "PyPi refresh"
Dear Eshin,

Would you mind uploading the updated version of `pymer4` to PyPi so it can be `pip install`ed?

[2018-11-19 03:52] #28 closed

[2018-11-19 03:53] ejolly commented on #31
@andportnoy New version just uploaded. Few additions as well. Note that python 2 is not officially support in this and all new versions moving forward.

[2018-11-19 03:53] #31 closed

[2018-11-19 07:51] andportnoy commented on #31
@ejolly Thank you!

[2018-11-21 17:55] andportnoy opened #32 "Why is conda installing R slower per the README?"
Would be grateful if you could clarify why it's slower than installing the relevant R packages manually.

[2018-11-26 01:17] ejolly commented on #32
I haven't really explored the reason. My hunch is because conda-forge contains precompiled binary files for R and the relevant packages and they aren't optimized/built for a specific system, therefore making them easier to install. Whereas when you download from CRAN you might be getting the best /most compatible version for your system by building it locally. Could be wrong about this tho!

[2018-11-26 16:23] andportnoy commented on #32
@ejolly That's right, `install.packages` compiles the packages while `conda` doesn't, that makes sense, thank you!

[2018-11-26 16:23] #32 closed

[2018-12-12 11:37] ThomasAkam opened #33 "Installation error when pip updates rpy2"
I just tried installing pymer4 on windows 7 in a newly created conda environment using the follwing commands:

[code]
The final command gave the following error:

[code]

As the error occured when pip was trying to upgrade rpy2 to, I tried upgrading rpy2 using conda before trying to install pymer4:

[code]

I was then able to install pymer4 successfully with pip, but am posting this here in case a

[2019-02-26 01:37] ejolly opened #35 "Lm() fails when data is perfectly fit"
In the incredibly rare case (or mistaken case) that the data are perfectly fit by a model, the standard deviation of the residuals is return as `inf` which causes standard-error calculation to fail and the internal summary method of the class to crash.

Should handle this case by checking residuals and seeing if standard deviation is essentially 0, and then returning estimates like R does, but wit

[2019-02-28 03:38] ejolly commented on #18
Added in https://github.com/ejolly/pymer4/commit/473d892b7a10deffff286163ad6e50b80f24182e

[2019-02-28 03:38] #18 closed

[2019-03-18 13:51] ejolly opened #36 "rpy2 and pandas 0.24.2 compatibility"
Looks like there's currently a type conversion issue where newer version of pandas expect categorical types and rpy2 may not automatically convert them. Keeping note of the error here to revisit in the future. For now we're fixing the pandas requirement to version 0.23.4

[code]

Occurs at `self.marginal_estimates = pandas2ri.ri2py(base.summary(res)[0])` in `Lmer.post_hoc`

[2019-03-18 16:04] ejolly opened #37 "Latest lme4 with rpy2 on conda-forge gives slightly different estimates"
Noticed this when trying to fiddle with Travis failed tests vs local testing. Installing lme4 using R/RStudio up to version 1.1-23, vs installing thru conda-forge and calling it via rpy2 produce slightly different estimates when fits are close to singular. This is likely due to the different optimizer settings and updates to warnings made in recent version of lme4. It seems as tho the rpy2 call, r

[2019-04-03 08:35] jagadavk opened #38 "installation issue for pymer4"
base) C:\Users\j.siddaramanna>conda install pymer4
Collecting package metadata: done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - pymer4

Current channels:

  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/free/win-64
  - https://repo.anaconda.

[2019-04-15 08:05] james-morrison-mowi commented on #38
See #33.

If you call:
conda install rpy2=2.9.4

then:

pip install pymer4

It should install without out the above error.

[2019-07-24 14:27] gmmaio94 opened #39 "Empty models with pymer4 to calculate the ICC"
How can I specify an empty model using pymer4 ?

The R lme4 version of the empty model I am talking about is this: "target ~ 1 + (1|group)" . No features; just the target, the fixed intercept, and the random intercept. This will allow to calculate the Intra-Class Correlation.

I have tried the following specifications on pymer4
 1) "target ~ 1 + (1|group)"
2)  "target ~ 0 + (1|group)"
3)  "target

[2019-07-24 17:04] ejolly commented on #39
Thanks for moving this discussion here @gmmaio94. I can't seem to reproduce your error. See my example notebook [here](https://nbviewer.jupyter.org/urls/dl.dropbox.com/s/o18pz1z8asvngq1/ICC_model_demo.ipynb).

Can you share a reproducible example e.g. with your data or a subset of it, or replicating my example notebook? Can you also make sure you're using the latest version of pymer4 (master branc

[2019-07-24 18:05] gmmaio94 commented on #39
Hi @ejolly,
Thanks for your response. I have installed the development branch, and got the same error.

Please note that my model has a binary outcome: I am carrying out a multi-level logistic regression.Perhaps this might be the issue ? My code is below:

model0 = Lmer('target ~ (1|group)',
          data = df,
          family = 'binomial')

model0.fit()

 Unfortunately, I cannot share the data

[2019-07-24 19:00] ejolly commented on #39
Ah I see, the `family='binomial'` was key to me reproducing this. Thanks for clarifying @gmmaio94. For now, you can use the [null_model_fix](https://github.com/ejolly/pymer4/tree/null_model_fix) branch I just added, which works for binomial models, but I haven't yet verified it works with other distribution families (e.g. poisson).

To track a _complete_ fix, I've opened this PR https://github.com

[2019-07-24 19:10] gmmaio94 commented on #39
Fantastic !
It works now, thanks so much.
Have a great day,
G.

[2019-07-26 22:04] ingrid88 opened #41 "pymer4 not backwards compatible with rpy2~=3.0.5"
The rpy2 library depricated the `ri2py` function and now instead uses `rpy2py` so i get this error
[code]

When i run through the tutorial here http://eshinjolly.com/pymer4/usage.html at model.fit()

[2019-07-29 19:43] ejolly commented on #41
Thanks for opening this issue! Unfortunately, as the sole developer of this project, it's hard for me to keep up with numerous API changes that rpy2 introduces with each version. To get going right away, I would suggest `pip install rpy2==2.9.4` to force a non 3.0 release which should work.

[2019-08-05 18:57] ejolly commented on #36
https://bitbucket.org/rpy2/rpy2/issues/509/latest-pandas-breaking-rpy2-conversion

[2019-08-06 07:19] yanst001 opened #42 "AttributeError: module 'rpy2.robjects.pandas2ri' has no attribute 'py2ri'"
Hi, I am testing basic usage code from http://eshinjolly.com/pymer4/usage.html

[code]
and get `AttributeError: module 'rpy2.robjects.pandas2ri' has no attribute 'py2ri'` , though there is no issue when running Lm on top of modular`from pymer4.models import Lm, Lmer`

I am using rpy2=3.0.5, R version 3.6.0, and Python 3.6.5 (pandas 0.23.1) on the operating system used: MacOS Mojave 10.14.6. Are th

[2019-08-06 16:06] yanst001 commented on #41
ok, I found this issue is similar to the one I have and tried to switch to 2.9.4. I do not see error for rpy2==2.9.4 installation, but there is import error when the Lm, Lmer4  are imported as below (I do not have import error when using rpy2==3.0.5).

Can you add some documentation about how to avoid errors with requiring an older version of rpy2 than current default.

[code]

[2019-08-06 16:19] ejolly commented on #41
@yanst001 Thanks for reporting this. It looks like this is an rpy2 issue not a pymer issue as rpy2 cannot find your R installation. How did you install R? Via conda or manually? And did you still version 3.5 (what rpy2 is looking for)? This can happen if you install some R related things through conda, and others manually; mixing and matching generally is best avoided. I have some instructions in

[2019-08-06 22:53] yanst001 commented on #41
It seems a simple change from `ri2py` to `rpy2py`, I guess this can be done locally?

[2019-08-20 13:04] jprice80 opened #43 "AttributeError: 'DataFrame' object has no attribute 'copy'"
I'm not sure if this is an error or just a misunderstanding on my part.  Is there a limitation for permute that primarily requires continuous independent variables?  The following corresponds to a split plot repeated measures ANOVA which contains all categorical measures. When running the code below using all categorical measures, I get the error:

AttributeError: 'DataFrame' object has no attribu

[2019-09-06 17:40] Shotgunosine commented on #42
I think this package is currently only working with rpy2 <3. I've had good luck with 2.9.4.

[2019-09-06 18:40] ejolly opened #45 "Permuted p-value column is not being saved for permuted Lmer models"
While the values in the summary are correct, the `Num_perm` column heading is duplicated.

Probably need to adjust https://github.com/ejolly/pymer4/blob/dev/pymer4/models.py#L567 on the dev branch

[2019-10-11 22:29] #45 closed

[2019-10-11 22:37] #36 closed

[2019-10-11 22:37] #13 closed

[2019-10-11 22:38] ejolly commented on #37
Turns out this is due to the new default optimizer in recent versions of lme4. With the changes in the latest/upcoming version of `pymer4` users can control the optimizer and use `old_optimizer=True` as a quick shorthand to reproduce previously fitted model outputs

[2019-10-11 22:38] #37 closed

[2019-10-16 02:40] ejolly commented on #35
Fixed with changed to se computation

[2019-10-16 02:40] #35 closed

[2019-10-16 03:39] ejolly commented on #39
Fixed in upcoming release

[2019-10-16 03:39] #39 closed

[2019-10-16 05:35] ejolly opened #48 "Update travis config pending dep fixes"
Just opening an issue keep track of 2 bugs making testing on travis annoying right now:

1) `conda update conda` tries to uninstall setuptools for some reason and fails because setuptools is a conda dependency....weird. [Here's an example](https://superuser.com/questions/1402260/error-when-updating-conda-packages-removeerror-setuptools-is-a-dependency-of) of other folks encountering this. For the

[2019-10-30 21:16] ejolly commented on #43
@jprice80 Please try using a the latest release version 0.7.0 as see if you run into the same issues. Lots of bug fixes and compatibility updates that I think should solve your problem

[2019-10-30 21:16] #43 closed

[2019-10-30 21:17] ejolly commented on #42
Closing this because these issues should be mostly fixed in the latest release (0.7.0)

[2019-10-30 21:17] #42 closed

[2019-10-30 21:17] ejolly commented on #41
Sounds good. You can also try the latest release (pushed minutes ago) version 0.7.0. Lots of bug and compatibility fixes that work with the latest rpy2 version

[2019-10-30 21:18] ejolly commented on #38
@jagadavk sorry for being so late to get to this, but please try with the latest release of pymer4. Lots of bug fixes and compatibility issues solved in that version

@james-morrison-mowi Thanks for addressing this and providing support!

[2019-10-30 21:19] ejolly commented on #33
@ThomasAkam I know this is pretty late but hopefully the new version (just released) should address these compatibility issues

[2019-10-30 21:19] #33 closed

[2019-10-30 21:20] ejolly commented on #41
I'm going to close this for now, but can revisit if there are still problems

[2019-10-30 21:20] #41 closed

[2019-11-07 05:18] Beeskey opened #50 "Install issue not covered in installation page"
I'm running into an issue when trying to an issue when checking my install of pymer4. Below is the output of the line: python -c "from pymer4.test_install import test_install; test_install()"
![Screen Shot 2019-11-06 at 6 39 38 PM](https://user-images.githubusercontent.com/25391589/68362076-fb379c00-00f3-11ea-9120-53e29ef77d27.png)

I went through the entire installation guide, from installing Ana

[2019-11-07 21:32] ejolly commented on #50
Hmm so this looks like an issue in which `rpy2` cannot find parts your R installation. Did you have an existing R installation on your system or did you install R for the first time using Anaconda? Having two separate R installations can cause issues like the one you're encountering.

What happens when you just try to launch R in a new terminal (i.e. opening a new terminal and just typing `R`)? An

[2019-11-08 06:53] Beeskey commented on #50
Eshin,

Thanks so much for the response! So, I actually was able to solve the
issue. It seems silly, but I'm a Python user, and non of the searching I
did brought up any suggestions to *install Matrix! *After I did that and
restarted R, running test_install came back positive!!!!

I'm very sorry to go through the trouble of making a ticket for what ended
up being an issue with the R installation.

[2019-11-08 07:08] ejolly commented on #50
Not silly at all and no need to apologize. Most of the issues I've dealt with regarding my package have centered around R installation issues actually. I think the nature of what this package tries to do, i.e. being an inter-language operability packaging is inherently challenging and it's hard to anticipate all the different setups that users have with R and Python on their systems as well as iss

[2019-11-08 18:36] Beeskey commented on #50
I was hoping my experience could help future users! I ended up installing
Matrix through R, though this was the line I used:

Still so new to R, I basically just searched Google for "how do I install
Matrix" so, I don't know if I found the proper format or not haha.
Thanks for your support! Very excited to use to package, great work!

On Fri, Nov 8, 2019 at 2:08 AM Eshin Jolly <notifications@githu

[2019-11-08 21:47] Beeskey commented on #50
Quick question: Can I supply "binomial" for the family argument and fit a
non-linear model? I didn't see any mention of it, but it takes the family
argument, which makes me wonder if it's possible.

Thank you for your help

On Fri, Nov 8, 2019 at 1:35 PM Reed Boskey <reed.boskey@gmail.com> wrote:

[2019-11-09 02:25] ejolly commented on #50
Great thanks for the info. I've added a note in the installation section of the docs.

And yup, all `Lmer` models support the `family` argument with the available options being: gaussian (default), binomial, gamma, inverse_gamma, and possion. You can check out details at the API documentation here: http://eshinjolly.com/pymer4/api.html

Currently `Lm` and `Lm2` models don't support anything except

[2019-11-09 02:25] #50 closed

[2019-11-11 01:22] Beeskey commented on #50
Eshin,

Thanks for the response! I was finally able to get a model to work! Thank
you for the help.

I do have another question, however, and didn't know if I should create an
issue ticket or just ask in email. If it turns out to be a true bug and not
just my own user error, I'd be more than happy to create a ticket.

What's happening is, when I use the model.predict() function, I'm getting
an arr

[2019-11-11 01:38] ejolly commented on #50
Not quite sure what's happening (your picture didn't come through), but I'm reasonably certain it's not a bug. Here's an example that returns the corrected expected data shapes using the sample data in `pymer4`, testing both `Lmer` and `Lm` models:

[code]

[2019-11-11 03:58] Beeskey commented on #50
Oh, I'm sorry the embedded picture didn't work. Thanks for the response and
example.
I've restarted my kernel and am rerunning my whole notebook now to see if
that helps. I'll attach the picture to see if it's informative at all, but
it looks pretty much exactly like your example, I believe. I'll keep you
posted if the issue persists.

Thank you for your support,
Reed

On Sun, Nov 10, 2019 at 8:38

[2019-11-11 23:29] Beeskey commented on #50
Hey Eshin,

*Unfortunately I'm still having the issue. It's odd...I've never seen an
issue like this. Here is my instantiation and fit:*
model = Lmer('TYPE ~ STATE + AGE + SEX + MONTH + YEAR + CLUSTER +
(1|STATE)', data=flu_train, family='binomial')
model.fit()

*here's my predict call (The data set here is a dummy coded version of the
test set from the same data as the above):*
XD_test = XD_test.

[2019-11-12 01:55] ejolly commented on #50
Hmm, this looks like something specific with your data and not an issue with pymer4. So, unfortunately don't think I can be much help.

 I'd encourage you to check out the [lme4 documentation](https://cran.r-project.org/web/packages/lme4/index.html), which is the R package that this package calls behind the scenes for mixed modeling. Models called with predict need to contain the *same* predictors

[2020-01-24 22:03] ejolly opened #51 "Aggregate Lm2 model using first-level t-stats"
Should add an option to use t-statistics from first-level OLS models instead of just coefficients. This has the effect if implicitly down-weighting noisy first-level estimates based on their standard-errors. However, it only makes sense if the dataset is balanced with respect to each first-level group (e.g. each individual has the same number of observations at the first level).

[2020-01-24 22:05] ejolly opened #52 "Update docs for installation on new mac OS"
The installation issues section providing info about using homebrew to install `gcc` should be moved to the core installation section, because this appears necessary on all recent mac OS versions trying to install `rpy2`

[2020-03-09 09:57] benwhalley opened #53 "Error in the random effect cheat sheet"
Hi, I think there is a mistake in the random effects cheat sheet here:
http://eshinjolly.com/pymer4/rfx_cheatsheet.html#

Specifically, the double bar notation is actually for removing correlated random effects. It's not relevant whether the predictor is a factor or continuous. See page 7 here:
https://cran.r-project.org/web/packages/lme4/vignettes/lmer.pdf

[2020-03-09 16:42] ejolly commented on #53
Thanks for the updated info! I recall in past of `lme4` versions `||` didn't work unless the predictor was continuous, but maybe that's changed? Either way I'll update the docs when I get a chance

[2020-03-09 16:44] ejolly opened #54 "Add logistic regression"
It would be great to add this without making sklearn a dependency...not sure if that's avoidable or not

[2020-03-10 21:15] ejolly opened #55 "Allow Lm and Lm2 to auto-ignore NaNs"
Currently a user needs to manually deal with NaNs, e.g. by dropping the rows or filling them with some values in pandas (e.g. `.fillna(0)`).

Would be nice to have a boolean flag that defaults to ignoring NaNs but prints a warning if they exist, or errors out if set to False

[2020-04-02 15:09] ejolly opened #56 "Fix repr for Lm models"
Need to remove this line https://github.com/ejolly/pymer4/blob/master/pymer4/models/Lm.py#L81

[2020-04-21 02:03] Jorsorokin opened #57 "rpy2>3.2.4 returns empty random effects"
Hello, I've been using `pymer4` for a few months now but only recently encountered this issue:
the `Lmer` module seems to be returning empty random effects variances. Not sure if this is due to R/rpy2/pymer4/pandas version incompatibility (3.6.3, 3.3.1, 0.7.0, 1.0.0, respectively) but even this simple example fails:
[code]

[2020-04-22 06:27] ejolly commented on #57
Hmm that's very strange because I can't seem to be able to reproduce any issues running your example (output below). I'm guessing you're right about some new incompatibilities and my hunch is that it's going from `pandas 0.25.x` -> `1.0.0`, since `1.0.x` introduced a reasonable number of breaking changes.

Any chance you can downgrade pandas and see if that solves the issue and if it doesn't paste

[2020-04-22 15:39] Jorsorokin commented on #57
Looks like pandas 0.25.3 does not solve the issue for me, suggesting it might be an lme4/lmerTest version issue. Which versions of these packages do you have installed?

[2020-04-22 17:16] ejolly commented on #57
Interesting, so models aren't being miscomputed just `pymer4` isn't grabbing the proper outputs from lme4. The versions I have are `lmer4=1.1-21` and `lmerTest=3.1-1`, which only seem minor versions behind the latest releases making me think that couldn't have changed _that_ much. Another (frustrating) possibility is that changes to `rpy2` are not coercing the R types to Python in the same way in

[2020-04-22 17:48] Jorsorokin commented on #57
ah! that was it!

[2020-04-22 17:55] ejolly commented on #57
Great! Thanks for trying out the different package versions to diagnose. I'm going relabel this issue as a necessary fix for a future release of `pymer4`

[2020-04-26 17:08] ejolly commented on #57
Adding some error information here from another user who experienced a similar issues with `rpy2 >= 3.3.x`

[code]

[2020-04-26 17:23] ejolly opened #58 "Package updates for dependencies compatibility"
Opening this issue to try to consolidate what updates need to be made in order to ensure compatibility with the latest versions of `rpy2`, `pandas`, and `R`.

[rpy2 changelog](https://rpy2.github.io/doc/latest/html/changes.html)
[pandas 1.x.x milestone and beyond changelog](https://pandas.pydata.org/docs/whatsnew/v1.0.0.html)
[R version changes](https://developer.r-project.org/blosxom.cgi/R-devel/

[2020-05-05 13:25] leichtle opened #59 "KeyError: 'columns'"
Dear Eshin Jolly,
Running `pymer4 `on OS X with `python 3.8.2`, `pandas 1.0.3`, and `rpy2 3.3.2` as well as `R  4.0.0`,` lme4_1.1-23`, and `lmerTest_3.1-2`, I can execute the linear modeling example without error:

[code]

However, the multilevel model throws an error:
[code]

This is the error message:
[code]

Seems to me like a `rpy2` version issue, maybe something for an updated `pymer4` versio

[2020-05-06 00:46] ejolly commented on #59
Yea sorry there are some compatibility issues with recent versions of `rpy2` and `pandas` noted in #58 and #57. I haven't gotten a chance to work through them yet, but in the mean time you can trying using `rpy2==3.2.4` and see if that works for you.

I also haven't tested this on the latest version of R so I can't guarantee it'll work on R >= 4.0

[2020-05-06 00:48] ejolly opened #60 "Contrasts seem to be broken on rpy2 >= 3.2"
`Lmer.fit(factors={...}` does not properly set contrasts anymore and it seems to be because the contrasts function call doesn't preserve the contrast code when converting back to pandas. Opened an issue in on the rpy2 github here https://github.com/rpy2/rpy2/issues/699 to see if there's any advice

[2020-05-06 01:12] ejolly opened #61 "Package maintenance"
# Looking towards the future
__Please contribute if you can!__

Developing and maintaining this package and so far been primarily performed by myself. I've had some helpful contributions from various folks, but currently any new changes, issues, bugs, etc ultimately fall to me.

While this is to be expected when starting an open-source project, it has become increasingly difficult to maintain. Thi

[2020-05-06 06:49] ejolly commented on #60
Partially fixed in #61

[2020-05-06 06:51] ejolly commented on #59
@leichtle You can also try installing from the `compatibility_fixes` branch to see if that solves this particular issue. I think it should, but it may generate other ones since it's a WIP.

`pip install git+https://github.com/ejolly/pymer4.git@compatibility_fixes`

[2020-05-30 01:24] turbach commented on #61
Hi all, first off thanks @ejolly for all the hard work, I would like to help out.

I recently started unpinning from Py 3.6 and numpy 1.18  and moving up to pandas 1.0+, and rpy2 3+. While troubleshooting a pymer4.Lmer multiprocessing.Pool issue in 0.7.0 I may have come across the cause (robjects.NA_Character) and a simple fix for #57, will test further in coming days and post about those issues s

[2020-05-30 18:01] turbach opened #64 "multiprocess.Pool chokes on Lmer models"
The MRE is in the screen shot. I first saw the the crash as shown using a local pymer4 conda package built from v0.7.0 on PyPI. pip installed pymer4 behaves the same.

The problem appears to begin around Lmer.py:644

[code]

The df winds up with `robject.NA_Character` objects for missing values which aren't matched in the NA string comparisons.

Something in `rpy2` is unhappy about the way these g

[2020-05-30 19:31] ejolly commented on #61
First off @turbach WOW. I can't express enough how much I appreciate your offer to help!

I've haven't run across many labs that actively maintained a mixed Python and R stack so your experience here is immensely helpful. A conda package for `pymer4` was actually a long-term goal for me! However, since I don't have much experience with building a conda package, my original plan was to essentially

[2020-05-31 02:42] turbach commented on #61
OK great and thanks for the quick reply. It all sounds good, I wasn't sure
if you were committed to pure pip installs on principle.

As for going the conda route there are some interesting choice points ...
food for thought, don't have decide right away.

What channel does pymer4 live on? Building the package and uploading to
Anaconda Cloud personal or organization channels is pretty painless. For

[2020-05-31 17:43] turbach commented on #58
As discussed in #61, it may be useful to see how if conda packaging and conda installing `pymer4` into conda envs helps with this issue.

I have a fork of pymer4 going, propose to branch pymer4/dev and  myself, give it a whirl, and report back.

Sound OK?

[2020-05-31 23:05] ecoronado92 opened #65 "Lmer .fixef and .coefs - opposite to R behavior"
I was testing this awesome package and noticed there was a bit of a discrepancy on what I get when I call `.fixef` and `.coefs` in the Python model and when I use `coef(summary(model))[ , "Estimate"]` and `coefs()` in R , respectively.

For example,  the `.fixef` method provides the estimates that include fixed + random effects in Python (when I would think it  only provides fixed effect estimates

[2020-06-01 19:47] ejolly commented on #58
Sounds great thanks again!

[2020-06-01 20:05] turbach commented on #58
okey dokey. I checked out the docs and versioning, looks good.

[2020-06-04 19:00] turbach commented on #58
Proof-of-concept is up and running.

**TravisCI**

  * CI managed conda packaging, versioned releasing, and doc deployment is on this branch: https://github.com/turbach/pymer4/tree/conda-ci-2.

  * builds and pytests are passing: https://travis-ci.com/github/turbach/pymer4

  * Travis behavior at present (up for discussion):

     * all branches generate fresh linux-64 pymer4 binaries from github

[2020-06-07 23:32] ejolly commented on #58
This is great @turbach thanks for getting this started! I agree that talking through some of these decisions and changes would be easier than typing. Unfortunately I have a really busy week this week, but can we setup a zoom call for the week of June 15th? I'm flexible Monday, Tuesday, or Thursday from 10am onwards. That'll also give me a chance to get up to speed on your additions and some of the

[2020-06-08 01:11] turbach commented on #58
Sure @ejolly next week suits me fine. How about checking back in Monday 6/15, we'll see what calendars look like then and pin down a Zoom time?

[2020-06-08 01:32] ejolly commented on #58
Perfect will do!

[2020-06-08 05:33] sandy1729-swish opened #66 "Encountering issues running family != 'gaussian' for lmer"
I have been using your lmer package (thank you!) but I don't seem to be able to get any of the other families to run. I get this error, no matter what family= value I try (aside from gaussian, which works fine).

If you want to look into it further, I can probably find a way to send you a csv for the data so you can try it yourself.

Sandy Weil

Here is my model specification:
model  = Lmer('count

[2020-06-15 20:19] turbach commented on #58
@ejolly progress, obstacles, next steps?

[2020-06-15 21:15] ejolly commented on #58
@turbach thanks again for getting this all started. Let's setup a Zoom meeting this week to talk through these discussion points; there are also a few clarifications I'd like to go over so I fully understand everything that's happening in this flow.

I had a success creating a fresh `conda` env and installing the `pymer4` conda package you made and all tests pass on my 64-bit Mac (10.5.5).

Here's

[2020-06-16 16:30] yingboli commented on #66
@ejolly I think this is because the `glmer` function in `lme4` doesn't take the `REML` argument. Here's my fix on how to proposal (it worked in my fork, but for some reason, I cannot submit a pull request)
https://github.com/yingboli/pymer4/commit/8e02dc520cad2f514c54abc30bf918809cf0005e
https://github.com/yingboli/pymer4/commit/a53dec33500581b3ff6b5d62ddfeed1254a4dc47

[2020-06-16 22:12] ejolly commented on #58
@turbach Thanks again for chatting. I've added you as a collaborator so you should be able to modify Projects; feel free to invite me to a google doc/something else if it's easier to map out higher level points or flows there instead. I meant to ask if you're able to share the guide/faq document we were looking at together regarding terminology, working with conda vs pip, travis, etc.

I've also a

[2020-06-18 16:15] turbach commented on #58
Got it thanks, appreciate your time, it all sounds good.

I see the new Conda Integration project but don't think I'm on as a
contributor yet, no prob it won't hold anything up.

https://github.com/ejolly/pymer4/graphs/contributors

I'll work from your new conda_integration branch and like you say I don't
think it matters much whether you whittle on dev or conda_integration. I
don't expect to touc

[2020-06-18 16:53] ejolly commented on #58
Sounds good! Re: contributor status, looks like there's not easy way to provide access to a github project board without full repo access unless you pay for an organization. So for simplicity in terms of project tracking I made a quick Trello board and sent you an email invite (to your gmail) so we can keep track of anything there and you should be able to tag me. Let me know if that doesn't work.

[2020-06-24 14:38] ejolly commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [Bug fixes](https://trello.com/c/t3UDNQMg/7-bug-fixes)

[2020-06-24 14:38] ejolly commented on #65
![](https://github.trello.services/images/mini-trello-icon.png) [Bug fixes](https://trello.com/c/t3UDNQMg/7-bug-fixes)

[2020-06-24 14:38] ejolly commented on #60
![](https://github.trello.services/images/mini-trello-icon.png) [Bug fixes](https://trello.com/c/t3UDNQMg/7-bug-fixes)

[2020-06-24 14:39] ejolly commented on #59
![](https://github.trello.services/images/mini-trello-icon.png) [Bug fixes](https://trello.com/c/t3UDNQMg/7-bug-fixes)

[2020-06-24 14:39] ejolly commented on #56
![](https://github.trello.services/images/mini-trello-icon.png) [Bug fixes](https://trello.com/c/t3UDNQMg/7-bug-fixes)

[2020-06-24 17:43] #56 closed

[2020-06-24 17:49] ejolly commented on #59
Should not be an issue on upcoming releases, but add a slightly more informative error message

[2020-06-24 17:49] #59 closed

[2020-06-24 18:02] ejolly commented on #66
Thanks for the quick catch @yingboli! Not sure why you can't make a PR, but I've incorporated your fixes into the dev branch and they'll be applied in the upcoming release

[2020-06-24 18:02] #66 closed

[2020-06-25 16:28] sandy1729-swish commented on #66
Awesome. Thanks to you both.

On Wed, Jun 24, 2020 at 12:02 PM Eshin Jolly <notifications@github.com>
wrote:

[2020-06-25 16:29] sandy1729-swish commented on #66
btw, I put Yingbo's changes into my local copy of the code and reran my
model. I can confirm that it did fix the issue for me.

On Thu, Jun 25, 2020 at 10:28 AM Sandy Weil <sandy@swishanalytics.com>
wrote:

[2020-06-26 21:06] #64 closed

[2020-07-07 16:56] ejolly commented on #65
Thanks for bringing this up @ecoronado92. This was an intentional design decision because I wasn't a fan of how R does it. In my mind the intuition is:

- `coef` = "top level" estimates, i.e. summary output of the model that can be used to make predictions on new datasets
- `fixef` = group/cluster level _fixed effects_, i.e. conceptually similar to coefficients estimated if one were to run a separ

[2020-07-07 16:59] ejolly commented on #60
Fixed in https://github.com/ejolly/pymer4/commit/a254059c0e8fa59cfba9eeb8c42dca078d2cde14

[2020-07-07 16:59] #60 closed

[2020-07-07 17:05] ecoronado92 commented on #65
@ejolly totally understand, yeah just adding a note would be super helpful.

I normally take `fixed` to be population effects (i.e. same for all groups) and `coefs` as being the combination of `fixef` + `ranef` (deviance), thus why it was confusing to me.

Regardless it's awesome you brought this to Python!

[2020-07-07 17:06] ejolly commented on #65
![](https://github.trello.services/images/mini-trello-icon.png) [Documentation updates](https://trello.com/c/pvp8cGHL/10-documentation-updates)

[2020-07-07 17:06] ejolly commented on #53
![](https://github.trello.services/images/mini-trello-icon.png) [Documentation updates](https://trello.com/c/pvp8cGHL/10-documentation-updates)

[2020-07-07 17:09] ejolly commented on #57
Should be fixed in https://github.com/ejolly/pymer4/commit/a254059c0e8fa59cfba9eeb8c42dca078d2cde14

[2020-07-07 17:09] #57 closed

[2020-07-14 15:50] #48 closed

[2020-07-17 13:34] chpriya03 opened #69 "error while importing pymer4"
ImportError                               Traceback (most recent call last)
<ipython-input-6-43564a4498bb> in <module>
----> 1 import pymer4

~\Anaconda3\lib\site-packages\pymer4\__init__.py in <module>
      3 __all__ = ["models", "utils", "simulate", "stats", "io", "__version__"]
      4
----> 5 from .models import Lmer, Lm, Lm2
      6 from .simulate import easy_multivariate_normal, simulate_lm

[2020-07-17 21:31] ejolly commented on #69
Sorry about that @chpriya03, there's a heavy updated release coming out soon that should solve several different installation issues including yours, but it's still in the works. You can try installing from the development branch and see if that works for you:

`pip install git+https://github.com/ejolly/pymer4.git@dev`

[2020-07-18 18:36] chpriya03 commented on #69
Still facing the same issue, I need this package working for my final year master project. Any help will be appreciated.
Thank you.

[2020-07-18 19:16] ejolly commented on #69
Can you provide some info about what version of `rpy2` and `pandas` you're using?  Also did you install manually or through Anaconda?

[2020-07-18 19:52] chpriya03 commented on #69
The rpy2 version is 2.9.4 and panda version is 1.0.5 and I tried installing through anaconda

[2020-07-18 21:08] ejolly commented on #69
Ah it might be that your version of rpy2 has an issue. Can you try upgrading it? See if you can get a version >= 3.1 via conda: `conda update rpy2`. If it doesn't find an upgraded version you'll need to use conda forge: `conda update rpy2 -c conda-forge`.

[2020-07-19 20:49] chpriya03 commented on #69
After updating to rpy2 to version 3.3.2 now I am facing a new error

OSError                                   Traceback (most recent call last)
<ipython-input-3-43564a4498bb> in <module>
----> 1 import pymer4

~\Anaconda3\lib\site-packages\pymer4\__init__.py in <module>
      3 __all__ = ["models", "utils", "simulate", "stats", "io", "__version__"]
      4
----> 5 from .models import Lmer, Lm, Lm

[2020-07-19 21:19] ejolly commented on #69
Hmm unfortunately this looks an `rpy2` installation issue trying to find and connect to your R kernel rather than a `pymer4`issue. I might try setting up a fresh environment with Anaconda and installing everything within there and seeing if that helps:

`conda create --name newenv -c conda-forge python>=3.7 r-base r-lme4 r-lmerTest r-emmeans`
`conda activate newenv`
`pip install git+https://github

[2020-07-19 21:35] chpriya03 commented on #69
Thanks for the help, but still facing the same issue. I have reported this issue on rpy2 github repo.

[2020-07-19 21:37] ejolly commented on #69
Ok, I'm going to close this in that case. Feel free to open if you get any words of wisdom that other Windows users might benefit from. Apologies again

[2020-07-19 21:37] #69 closed

[2020-08-04 12:57] #65 closed

[2020-08-04 12:57] #53 closed

[2020-08-27 01:24] JohnMulligan commented on #58
I've only started using rpy2 with the latest release, but have noticed 2 issues that I don't *think* are user error.
- ro.conversion.rpy2py(r_df) returns an R object rather than a pandas dataframe
- the values_fn in R's pivot_wider function simply does not work

[2020-09-02 23:29] sandy1729-swish opened #71 "Add "weights" parameter to API for lmer"
Would it be possible to add access to the weights field in the lmer API?

[2020-09-03 16:12] bluemonk482 opened #72 "family="binomial leads to RRuntimeError " unused argument (REML = TRUE)""
Hi, thanks for the library! I am trying to fit a mixed effect logistic regression model with a feature and 0/1/2 labels. I have tried to set `family="binomial"` but it seems it just doesn't work??

[code]

Error msg:

[code]

[2020-09-04 21:23] ejolly commented on #71
Hi @sandy1729-swish can you provide a bit more context for what you mean by the _weights_ field? Model coefficients are accessible via:

`model.coef` - "population" (top) level estimates
`model.fixef` - estimates for each group/cluster, i.e. each term after the `|` in the model formula
`model.ranef` - deviation estimates for each group, i.e. `model.coef - model.fixef`

[2020-09-05 04:31] ejolly commented on #54
Moved to Trello

[2020-09-05 04:31] #54 closed

[2020-09-05 04:32] #52 closed

[2020-09-07 17:31] sandy1729-swish commented on #71
Hi Eshin -
What I was hoping to access is the the "weights" part of the R API
referenced at the top of page 52 in the cran R pdf for lme4:
https://cran.r-project.org/web/packages/lme4/lme4.pdf
(See the top of page 52.)
Does that make more sense?
Sandy

On Fri, Sep 4, 2020 at 3:23 PM Eshin Jolly <notifications@github.com> wrote:

[2020-09-08 03:55] ejolly commented on #71
Ah I see thanks for clarifying. At this time I don't have any plans to add that, but can take look if/when I get time. But because it's low on my priority list right now, if it's something you urgently need feel free to open a PR!

[2020-09-08 03:55] #58 closed

[2020-09-08 04:18] ejolly commented on #72
Hey @bluemonk482 that’s very strange because the latest round of tests pass just find. Can you try again installing the latest development version of pymer4?

`conda install -c ejolly/label/pre-release -c defaults -c conda-forge pymer4 `

You may want to install in a fresh conda environment to avoid changing versions of any existing packages you have.

[2020-09-10 15:53] JohnMulligan commented on #58
Sorry, I was late to respond here, I forgot that my github account is connected to an old email account.

But with respect to pivot_wider, unless I'm mistaken, rpy2 can't interpret a values_fn parameter to handle duplicate values. For example:
`
counts2=dplyr.select(counts,selcolumns)
wide_counts_by_cause=tidyr.pivot_wider(counts2,names_from='Cause Group',values_from='Number of Deaths',values_fn=[

[2020-09-10 22:54] bluemonk482 commented on #72
Thanks @ejolly !

I pip installed on my machine. I will try conda and report back if there is any issue. I will close the issue for now. Thanks again.

[2020-09-10 22:54] #72 closed

[2020-09-10 23:06] ejolly commented on #58
Hey @JohnMulligan sorry I'm a little confused what your comments are in reference to. Did you mean to open them on the rpy2 repository instead of here? `pymer4` only wraps `lmer` and `glmer` and doesn't use or expost `dplyr` functionality.

[2020-09-11 05:49] JohnMulligan commented on #58
My bad, thanks.

[2020-09-22 20:10] jpgerber commented on #54
Hi, has logistic regression been added to pymer4 yet, please?

[2020-09-22 21:18] ejolly commented on #54
Hi @jpgerber unfortunately not yet. It may happen but currently it's a long-term goal because it would require a custom implementation to avoid adding `sklearn` as a dependency: https://trello.com/c/HLgqBhqm

Happy to take pull requests!

[2020-10-31 22:18] ejolly opened #77 "Update docs to "best" install command"
An unusual bug when installing on macOS (and maybe some linux distros) using the command currently listed on the docs site, is that conda will not properly link to `@rpath/R/lib/libRlapack.dylib`. This means pymer4 fails to run because of dependency resolution error in the `Matrix` package:

[code]

This doesn't seem to be specific to `pymer4` because opening a new R REPL session from within a new

[2020-11-01 22:54] turbach commented on #77
I can't replicate the problem but there are at least two things going on here. One is the new conda update 4.9 seems to be  buggy, the other is your OSX and mine behave differently, reasons unknown.

The first issue looks like teething problems when the conda installer jumped from 4.8 to 4.9 a couple weeks ago. Lots of bug reports in issues and already a patch release 4.9.1 about 4 days ago https:

[2020-11-23 15:58] ljchang opened #78 "Support for other link functions in Lm class"
It would be great to be able to run other types of models such as logistic regression with the Lm class.

Currently not implemented.

![2020-11-23_10-57-38](https://user-images.githubusercontent.com/2993338/99984232-cc31ae00-2d7a-11eb-8286-5fa85dd7345a.png)

[2020-12-04 00:02] ejolly commented on #77
@turbach Realizing I never replied to this, but having just experienced the same issue again it seems like the only solution that reliably works for me on several different versions of mac OS, irrespective of conda version or python version (works on both 4.8.5 and 4.9.2, and 3.7, 3.8, 3.9) is to
 __force conda to install `r-base` from the `r` channel rather than `conda-forge`__, as you suggested:

[2021-02-08 08:49] robpetrosino opened #79 "Comparing self-subsetting models"
I was wondering if `pymer4` has a way to compare two models varying in the presence/absence of a given variable in the formula. In R, this can be easily done with the command `anova()`. E.g.:

[code]

The command `Lmer.anova()` in `pymer4` does not seem to do the same, though. Is there a way to accomplish this?

P.S.: I am aware this is not a "bug" properly said, but opening a bug issue on Githus

[2021-02-08 23:27] ejolly commented on #79
Unfortunately not at this time. In fact some time ago I had started that functionality as can be seen in this commented code on the master branch: https://github.com/ejolly/pymer4/blob/master/pymer4/stats.py#L552

It's also

I remember getting some conflicting results from R

[2021-02-09 08:07] robpetrosino commented on #79
Thank you for replying. I'd be happy to help, though I fear that my coding skills are not as advanced as we both would want to...

[2021-04-06 08:03] Bio-zhanglei opened #82 "lmer"
## Before you submit an issue please check your pymer4 installation!

Problems often arise because pymer4 is installed with incompatible
Python or R packages and can be resolved quickly by
[installing via Anaconda](http://eshinjolly.com/pymer4/installation.html#using-anaconda-recommended).

## Warning: `pip install pymer4` is officially not supported

Installing pymer4 with `pip` is for custom ins

[2021-04-06 08:11] Bio-zhanglei commented on #82
when I run your code （moedl.fit()）from the paper ,the python tells me ' 'Lmer.py' in 444 lines : if design_matrix Valueerror: .......use a.any() or a.all()'  ,but after I change the' design_matrix' to 'design_matrix.any()' in your 'Lmer.py' script , it runs well.
Am I right?

[2021-04-08 19:50] ejolly commented on #82
@Bio-zhanglei The issue you're encountering was related to a breaking change in the `rpy2` dependency of `pymer4`. Several other folks have encountered a similar issue so I've released a new version that fixes the issue (0.7.3). You can install it from github or wait until later today until it's available on Pypi or Anaconda cloud!

[2021-04-08 19:50] #82 closed

[2021-04-09 14:54] Shotgunosine opened #83 "Lmer.fixef no longer has group labels"
### 1. Description
I'm pretty sure the fixef of LMER models used to have as its index the group labels. Now the index appears to be a range index.

### 2. Minimal reproducible example
In [1]: from pymer4.models import Lmer
   ...: from pymer4.utils import get_resource_path
   ...: import pandas as pd
   ...: import numpy as np
   ...: from scipy.special import logit
   ...: from scipy.stats import

[2021-04-09 14:56] Shotgunosine commented on #83
Just confirmed that as of version 0.7.0 the index of the fixef was the group labels.

[2021-04-09 22:32] #83 closed

[2021-05-08 01:37] turbach opened #85 "ratchet up Python versions in the CI?"
Hi Eshin, any chance you could try adding Python 3.9 to the CI build matrix at some point?

I've been testing our other conda packaging CI with 3.9, so far so good.

Also I see where the minimum Python version for h5py is now 3.7 ([h5py 3.2 breaking changes](https://docs.h5py.org/en/stable/whatsnew/3.2.html#breaking-changes-deprecations)).  So the same goes for deepdish, might consider whether to

[2021-06-17 23:10] shanaadise opened #87 "Custom contrasts LMER (sum-to-zero)"
Does the custom contrasts option for LMER only work for logistic regressions? If so, is there a way to implement a sum-to-zero custom contrast for linear mixed modeling? When I test the LMER with a continuous DV (e.g., tfabwdp_1272) the model fit defaults to dummy coding even though a sum-to-zero custom coding is provided.

[2021-06-18 04:01] ejolly commented on #87
@shanaadise custom contrasts are supported for all `Lmer` models and should be specified in human-readable format, e.g. for a categorical predictor `Col1`, the following code will create a regressor that reflects the difference between level `A` and the mean of levels `B` and `C` and they also sum-to-zero.

`model.fit(factors = {"Col1": {'A': 1, 'B': -.5, 'C': -.5}}))`

I'm not quite sure what syn

[2021-06-18 06:54] shanaadise commented on #87
Yes, I am using that syntax.

[code]
tfabwdp_1272 = continuous
C(ehi_y_ss_scoreb) = categorical with three levels: 1, 2,3
mri_info_deviceserialnumber = categorical random factor

The estimates that are produced are different than the observed means:
                                  Estimate
Intercept:                 0.036
ehi_y_ss_scoreb 2:  -.181
ehi_y_ss_scoreb 3: -.171

To calculate by hand,

[2021-06-18 08:11] ejolly commented on #87
Ah ok I see a few issues here. So you may have missed this, but mentioned at the top of the [tutorial page](https://eshinjolly.com/pymer4/auto_examples/example_02_categorical.html#sphx-glr-auto-examples-example-02-categorical-py) is the fact that `Lm` i.e. standard-regression models and `Lmer` i.e. multi-level models have **different and incompatible** syntax for handling categorical predictors.

[2021-06-18 16:31] shanaadise commented on #87
Thank you for your kind answers and pointing me in the correct direction. Still not sure what else I may be doing wrong. The estimates are still not adding up.

`model.fit(factors={'ehi_y_ss_scoreb' : {1.0:1, 2.0: -0.5, 3.0: -0.5 }})`
Without brackets produces the error:
**ValueError: Not all factor levels are specified in the desired contrast**

The exact output of `df_num.ehi_y_ss_scoreb.value_c

[2021-06-18 19:33] shanaadise commented on #87
Not sure if this is helpful but I have the dataset with just the three
variables in it.

*Shana Adise, Ph.D.*

Postdoctoral Fellow
Division for Research on Children, Youth and Families

Children's Hospital of Los Angeles
4650 Sunset Blvd Mailstop #130, Los Angeles, CA 90046

 s ***@***.***

*http://shanaadise.weebly.com/ <http://shanaadise.weebly.com/>*

On Fri, Jun 18, 2021 at 1:11 AM Eshin Jolly

[2021-07-16 22:47] shanaadise commented on #87
Hello,

I'm still having some trouble with this. In addition, variable names are displayed/ or changed for contrasts. I have two computers, each with different versions of python installed and have tried it with both. Below are my issues:

Python 3.7.1, Pymer 0.7.5

Issue: Despite specifying the order with 2 as the reference for race, the output for the fixed effects labels them as categories 1, 2

[2021-08-19 22:38] ejolly commented on #87
hey @shanaadise sorry for the extremely delayed reply. Had to deal with some personal stuff and was also porting over pymer4 testing to github actions. So picking up from your this previous comment:

These estimates are actually correct. When you request sum-to-zero contrasts the model intercept to the _grand mean_ of all your factor levels (which is what R does):

(0.036 + -.141 + -.142) / 3 == -

[2021-08-19 22:39] ejolly commented on #85
Fixed in https://github.com/ejolly/pymer4/commit/6c39ee87e95df06194582a1809afd361b2483ae2

[2021-08-19 22:39] #85 closed

[2021-10-06 21:05] ejolly opened #88 "Fix lost row names when estimating ANOVA"
See the end of this comment for more information on how it happens: https://github.com/ejolly/pymer4/issues/87#issuecomment-902297666

[2021-10-06 21:09] ejolly opened #89 "Fix predict issue when categorical variables exist in model"
_Copied from email correspondence_

![image](https://user-images.githubusercontent.com/8481982/136283291-645d2d7a-cb26-4d6c-b3a3-afab3f7c893d.png)

[2021-10-06 23:24] #89 closed

[2021-10-17 22:15] anbai106 opened #90 "Pvalue of Lm for 0.0"
Hi,

I fit a simple linear regression model with Lm function;
[code]

[code]

It worked but the output P-value is always 0.0. I think this is just a problem of the precision of the number for the output stats. I didn't find a solution to output more precise numbers.

I know that this means that the P-value is very low, but I still want the exact value. Can you help with this?

Thanks

[2021-10-17 23:54] ejolly commented on #90
Hey @anbai106 the non-rounded estimates are available in `model_all.coefs`. The output from `.fit` and `.summary` [rounds everything to 3 decimal places](https://github.com/ejolly/pymer4/blob/master/pymer4/models/Lm.py#L450)

[2021-10-17 23:54] #90 closed

[2021-11-03 20:51] anbai106 opened #91 "Lm formula for age square and interaction"
This is not a bug, but a question:

How do we define the formula for age square and interaction effects, say:

`Lm(" Y ~ age + sex + age^2 + age*sex + age^2*sex + MUSE_Volume_702+ diagnosis", data=df)`

I tried age^2, or I(age^2), it gives me errors:
[code]

Thanks in advance

[2021-11-03 21:00] anbai106 commented on #91
I got it:

`Lm(component_name + " ~ age + sex + I(age**2) + age*sex + I(age**2)*sex + MUSE_Volume_702+ diagnosis", data=df)`

I will close this.

[2021-11-03 21:00] #91 closed

[2021-11-13 18:44] anbai106 opened #92 "ZeroDivisionError: division by zero"
Hi,

I got this error:
[code]

Any clues regarding this?

[2021-11-13 21:18] ejolly commented on #92
Hey @anbai106 thanks for noting this issue. It looks two things were going on here, one of which was related to how `pymer4` handles _square matrices_ for regression estimation. I pushed a fix in the dev branch which should be up on the `pre-release` conda channel for pymer4 later today after the test suite passes. You can install that version by following the [instructions for install a developme

[2021-11-13 21:18] #92 closed

[2021-11-14 12:55] anbai106 commented on #92
Your speculations were correct! I do have less N than the number of covariates!

Thanks

[2022-01-10 20:05] ejolly opened #94 "Update `save_model` and `load_model` to handle `Path` objects"

[2022-01-14 17:59] pwsanders7 opened #95 "Problem with model fitting"
Hi, not sure if this is the best spot to leave this, but I am encountering an issue when trying to fit a model with the Lmer method.  I have attempted to specify a model using the following code:

`model = Lmer("PsychologicalDistressMean ~ SessionNumber + (SessionNumber|ClientId)", data = data)`
`print(model.fit())`

However, I am getting this error:
  File "c:\Analysis Files\pymer_test.py", line

[2022-01-20 20:49] shanaadise opened #96 "Continuous interactions tables + plotting issue"
Hello,

Is there an option to see estimates at specific values of contiguous variables for continuous * continuous interactions? Some other packages are able to output these estimates at -1SD, 0, and +1SD of the mean. I think this would be super helpful to see rather than to have to compute on your own.

Second, I am having an issue with using the command `model[brain].plot('reshist_addr1_coi_z_ed

[2022-01-21 13:22] paulcbogdan opened #97 "Strange issue related to variable names and lmer"
I am experiencing an issue:

[code]

This comes about from this patch of code:

[code]

Strangely, the issue seems to come from the name of the dataframe's columns. I provide two pictures below that show what I mean. Changing one of the columns from "entropy_sign" to "PE" makes the error disappear. I think I also vaguely pinpointed the error by looking at this patch of code in lmer.py:

[code]

He

[2022-01-31 00:19] Gattocrucco opened #98 "Access parameter `nAGQ` of `glmer`"
I need to set the parameter `nAGQ` of `glmer`. It sets the number of points used to estimate the integral giving the likelihood. I think I will manage to do it manually, but it would be nice to have a parameter in `Lmer.fit`.

[2022-01-31 19:35] ejolly commented on #95
Hmm it's unclear without additional details about your data as to why this is happening. But given what line the error you're experiencing is on, it seems that you may be using an outdated version of `pymer`. Can you try updating to the latest version and seeing if it persists?

[2022-01-31 19:37] ejolly commented on #96
1) Thanks for the suggestion, I can look into this for future and I'll open a separate issue to track it.
2) It looks like you fit your model with the `factors` keyword argument to `.fit` and currently plotting doesn't support models that contain _any_ factors.

[2022-01-31 19:37] #96 closed

[2022-01-31 19:39] ejolly opened #99 "Consider adding model predictions conditioning on specific parameter values"
Quoting from [this issue](https://github.com/ejolly/pymer4/issues/96):

[2022-01-31 19:52] ejolly commented on #97
Hmm bizarre. I haven't run into this before and I don't seem to be able to reproduce it just by changing the names of the variables in the included sample data (i.e. adding an `_`). It seems to be happening on the R side of things too. @paulcbogdan  can you share platform details, i.e. what OS, Python version, R version, pymer version, etc?

If you installed via conda then `conda list` should prin

[2022-01-31 19:53] ejolly commented on #98
Thanks I can look into adding this in the future

[2022-01-31 19:55] #77 closed

[2022-01-31 19:58] ejolly commented on #98
https://www.rdocumentation.org/packages/lme4/versions/1.1-27.1/topics/glmer

[2022-02-02 11:57] Gattocrucco commented on #98
I modified `Lmer.fit` to pass `**kwargs` to `lmer.glmer`.

[2022-02-07 18:40] JohannesWiesner opened #100 "An error ocurred while starting the kernel: R_HOME must be set in the environment or Registry"
## Please answer these questions:

Does installing pymer4 into a clean conda environment in any of these
four ways solve the problem? If so, which worked and which didn't?

Nope, it didn't :( I used the [one as suggested on the installation page](https://eshinjolly.com/pymer4/installation.html#for-the-latest-stable-release-recommended) so this one:
1. `conda create --name test_env1 -c ejolly -c de

[2022-02-09 12:33] JohannesWiesner commented on #95
I get the same error when running [this line](https://github.com/ejolly/pymer4/blob/b64273441f748e94b6b41946413c29ba982e9fc6/examples/example_01_basic_usage.py#L98) in the example script `example_01_basic_usage.py`. Interestingly, other runs of `print(model.fit()` before that line seem to work.

[2022-02-09 12:35] JohannesWiesner commented on #100
Could solve it by simply adding `R_HOME` as an environment variable at the beginning of the script (based on [this SO thread](https://stackoverflow.com/a/60869259/8792159)):

[code]

[2022-03-03 16:43] mitjanikolaus commented on #95
I had the same problem. Following the suggestion from [this stackoverflow answer](https://stackoverflow.com/a/66981241/5346148), I changed the line 444 in `/pymer4/models/Lmer.py` to `if design_matrix is not None:`.

That fixed it for me, hope it helps you as well!

[2022-03-11 20:12] rafamestre opened #101 "Issue with importing pymer4: "stats" package not found"
Hi,

I'm having problems loading the pymer4 package after installation. I've done it with Anaconda and following the instructions, in different environments. I've tried with the four ways of installing according to these guidelines, but none of them work. To test it, I've tried to load the package in python or writing in the command line `python -c "from pymer4.test_install import test_install; te

[2022-03-15 12:04] PuddleJumper2018 opened #102 "Is there a may to run in Lmer a log-gaussian link function?"
I'm currently using pymer4 for quite a big dataset with over 4000 samples and (obviously) have distribution issues. Is there a way to specify model link function as log-gaussian? I believe in R glmer() takes it as `` gaussian(link = "log") ``

[2022-03-15 17:33] ejolly commented on #102
Unfortunately currently not. We only support the following families with their [default link functions](https://stat.ethz.ch/R-manual/R-devel/library/stats/html/family.html):
[code]

I can look into adding an update that supports using a non-default link function.

[2022-03-15 17:37] ejolly commented on #101
@rafamestre Hmm so I think what be happening here is what others experienced in #100 . If some other program, config file, etc, is setting your `R_HOME` environment variable that's usually when issues like this arise. Unfortunately it's not easy for me to manually debug because I don't have access to a windows machine, so you want to try the proposed solution in #100 ?

[2022-03-21 15:22] simonruch opened #103 "Names of fixed effects for fitted_model.anova()"
The data frame that is returend by the  ".anova()" function for Lmer-objects does not include the names of the fixed effects that are reported. Would it be possible to parse these from the r-object? I could not figure out how this would be achieved.

See e.g. the example by the Pymer-Tutorial 3.:
http://eshinjolly.com/pymer4/auto_examples/example_03_posthoc.html#sphx-glr-auto-examples-example-03-p

[2022-03-29 18:26] ejolly commented on #103
Duplicate of #88

[2022-04-12 05:55] rsuhendra opened #105 "Issue with Lmer function"
# Issue
There seems to be a problem with the Lmer function. I was having some installation issues (which I think I fixed) so I tried running the test_function:
python -c "from pymer4.test_install import test_install; test_install()"
and it gave me this error:
Error! Length mismatch: Expected axis has 7 elements, new values have 2 elements

I tried it with all of the 4 installations:
1. `conda crea

[2022-04-13 09:56] gpiantoni commented on #105
I bumped into the same issue as @rsuhendra running Linux, Python 3.9.12 packaged by conda-forge. I tried the same hotfixes that that user proposed but I hit the same block.

The issue appeared when I upgraded rpy2 from 3.4.5-py39r41hce5d2b2_3 to 3.5.1-py39r41hd257fcd_0. I suspect the bug is somewhere in the conversion from r-objects to pandas DataFrame.

Downgrading to  3.4.5-py39r41hce5d2b2_3 is

[2022-04-26 22:54] ejolly commented on #105
@rsuhendra @gpiantoni I just created a new release that pins the highest rpy2 version to 3.4.5, which seems to work again. I'm going to close this issue in the mean time. But feel free to reopen

[2022-04-26 22:54] #105 closed

[2022-04-26 22:55] ejolly commented on #101
@rafamestre I just created a new release that pins the `rpy2` version to 3.4.5 as the newer versions seem to be causing an issue. Can you try with the latest release of pymer4? I'm going to close this issue in the mean time, but feel free to reopen

[2022-04-26 22:55] #101 closed

[2022-04-26 22:56] ejolly commented on #100
This indeed looks to be an rpy2 issue, so the latest release of pymer4 pins it to 3.4.5. @JohannesWiesner You can try the latest version to see if that works for you. Going to close this, but feel free to reopen

[2022-04-26 22:56] #100 closed

[2022-04-26 22:57] ejolly commented on #95
This should be fixed in the latest version of pymer4. Feel free to reopen if it isn't

[2022-04-26 22:57] #95 closed

[2022-05-11 23:40] sbSHA opened #107 "value error with the design matrix in Lmer.py"
Hi,
I got this error when I am running Lmer for fitting the model. I dont know if anyone else has faced this issue. I think it's a small bug?
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Input In [9], in <cell line: 50>()
     47 df_sub = df[["a1", "a2", "b1", "b2", "c1", "c2", "c3", "event_i

[2022-05-12 00:38] ejolly commented on #107
@sbSHA Looks like you're using an older version of pymer4 (~0.7.2). This has been fixed in more recent versions. Please try updating.

[2022-05-12 00:38] #107 closed

[2022-06-28 10:25] amirt1994 opened #108 "Problem in installing pymer4"
Dear Developer,

I am using python 3.7. I tried to install pymer4 (using method 2 installation) on my windows 10.
After testing installation I came up with following error:

Error! The R package "lmerTest" is not installed.

Then I installed lmertest using "conda install -c conda-forge r-lmerTest".
After I tested pymer4 installation again I came up with the same error!
without this package I cant

[2022-07-13 17:23] dramanica commented on #79
I just had a look at the commented out code for a loglik test, and it is easy to fix it to give the same results as in R (the key is to make sure that we use REML and ML appropriately). In principle, happy to put together a PR.
Only one question, is there a simple way to refit a model (when we have to switch REML/ML) silently (i.e. without outputting to screen)? Or do I need to look into implement

[2022-07-14 11:47] dramanica commented on #79
I made a PR #109 .The proposed implementation matches the lme4 `anova.merMod` in behaviour.
It's a bit tricky to write tests. The ideal scenario would be to run `anova.merMod` with `rpy2` and compare the results; however, that's not possible as `anova.merMod` raises an error when comparing models because it thinks that the data are different. This is because it expects data to be provided to `lmer

[2022-07-21 18:34] mattmoehr commented on #100
I had a very similar issue. Tried the `R_HOME` workaround and tried install the WIP release. Neither had any effect. Here's a series of conda install steps that _did_ work for me. ([mamba](https://github.com/mamba-org/mamba) is a faster, (nearly) drop-in replacement for conda, btw.)

In case it helps someone else (Ubuntu 20.04):

[code]

(`sklearn-lmer` is a different package so that step is optio

[2022-07-21 19:21] ejolly commented on #79
Thanks a ton @dramanica! Sorry I haven't had a chance to review as I'm currently traveling, but should be available in about a week or so.

If I recall correctly there was a similar kind of issue that lead me to just compare to static values in the `lmm` tests; I did that by separately fitting models in R to the included `sample_data.csv` file. So one thought is to do something similar with the in

[2022-07-22 14:51] dramanica commented on #79
No worries, give me a couple of days and I'll add some tests to the PR.

[2022-07-22 17:31] dramanica commented on #79
@ejolly Actually, I had a bit of spare time, so tests are now fully implemented it. Whilst I was at it, I also added a wrapper to confint for the Lmer class, so that it is now possible to bootstrap and profile the variances of the random components. It's an additional feature that I will need to use pymer4 in a course I plan to teach next year.

[2022-08-22 01:41] LiangZhang2017 opened #110 "Issue with..."
Can we use pymer4 to do the cross validation work?

[2022-09-19 19:48] sbSHA opened #111 "Variance-Covariance Table for Fitted coefficients"
Is there a way to get the variance-covariance (or the correlation) matrix of the fitted fixed-effects?

[2022-09-24 04:51] ejolly commented on #111
Are you referring to for example the output of calling `varcor(model)` in R? If so then unfortunately it's not implemented. Happy to take pull-requests!

[2022-09-24 04:56] ejolly commented on #110
@LiangZhang2017 [n principle sure - you can do cross-validation with any supervised learning model and multi-level models fall under that category. But there is no native support for CV in `pymer4`. I would recommend using [scikit-learn](https://scikit-learn.org/stable/) and rolling your own `Estimator` that wraps `.fit` and `.predict`.

Or you can try out the [sklearn-lmer library](https://github

[2022-09-24 04:56] #110 closed

[2022-09-24 04:58] ejolly commented on #108
Can you please use the issue template [here](https://github.com/ejolly/pymer4/issues/new?assignees=&labels=bug&template=bug_report.md&title=Issue+with...) which will allow you to provide more detail?

[2022-09-24 04:58] #108 closed

[2022-09-24 04:59] ejolly commented on #97
Closing due to time lapse. Feel free to reopen if encountered again.

[2022-09-24 04:59] #97 closed

[2022-09-24 05:00] #103 closed

[2022-09-27 01:32] #94 closed

[2022-11-04 22:27] artembelopolsky opened #113 "Issue with..."
I am having trouble running the example in the tutorial using a binomial dependent variable.  I used a clean conda installation (on Windows 11), as suggested in the tutorial:

`conda create --name pymer4 -c ejolly -c conda-forge -c defaults pymer4`

I haven't tried other installations that were suggested in the template bug report.

Here is the snippet:
[code]

I get the following error:

File "C:

[2022-11-05 18:35] anhknguyen96 opened #114 "pymer4 compatibility with pandas >=1.2.0"
right now the pandas dependency for pymer4 is this:
https://github.com/ejolly/pymer4/blob/d6d2acb73233b3a6573a65e330805ed45607a2f9/conda/meta.yaml#L31
Is it possible to pump up the pandas version to at least 1.2.0? I just recently found out about pymer4 and the convenience of it, but incorporating it to my analysis pipeline has been a bit painful. I'd really appreciate if this is possible.
Thanks